<ul class="list-group  " >
        <li><a routerLink="">Visits</a></li>
        <li><a href="allergy.html">Allergies</a></li>
        <li><a routerLink="medication">Medications</a></li>
        <li><a routerLink="conditons">Conditons</a></li>
        <li><a href="results.html">Results</a></li>
			  <li><a routerLink="vitals">Vitals</a></li>

        <li><a routerLink="immunization">Immunizations</a></li>
        <li><a routerLink="procedures">procedures</a></li>
        <li><a href="medical.html">medical equipment</a></li>
        <li><a routerLink="insurance">Insurance</a></li>
        <li><a routerLink="socialhistory">social history</a></li>
        <li><a routerLink="familyhistory">family history</a></li>
        <li><a href="advance.html">advance directives</a></li>
        <li><a href="instructions.html">instructions</a></li>
        <li><a href="referral.html">referral reason</a></li>
        <li><a routerLink="planoftreatement">plan of treatment</a></li>
        <li><a href="goals.html">goals</a></li>
        <li><a routerLink="demographic-info">demographic info</a></li>
        <li><a href="functional.html">functional status</a></li>
      </ul>
    