
<!-- header start-->
<!-- header row 1-->
<nav class="navbar navbar-expand-lg navbar-light back1  border-bottom" id="nav1">
        <a class="navbar-brand text-capitalize font1" href="#"><span class="text-primary">patient</span> <span class="text-warning">portal</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto btn text-capitalize btn  ">
            <li class="nav-item active ">
              <a class="nav-link" href="#" >Home</a>
            </li>
           
            <li class="nav-item dropdown">
              <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                mail <i class="fas fa-chevron-down ml-sm-1 "></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="submenu">
                <a class="dropdown-item" href="#">inbox</a>
                <a class="dropdown-item" href="#">sent items</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                schedule <i class="fas fa-chevron-down ml-sm-1 "></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">my appointment</a>
              </div>
              </li>
            <li class="nav-item dropdown">
              <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                my chart <i class="fas fa-chevron-down ml-sm-1 "></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">view my chart</a></div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">statements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">review medication</a>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                patient education <i class="fas fa-chevron-down ml-sm-1 "></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#"> patient education</a>
                <a class="dropdown-item" href="#"> sympthms checkers</a>
                <a class="dropdown-item" href="#"> medications</a>
                <a class="dropdown-item" href="#"> health decisions tools</a>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                settings <i class="fas fa-chevron-down ml-sm-1 "></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            </ul>
        </div>
      </nav>
      <!-- header row 2 -->
      <div class="container btn border-top border-bottom" id="div1" >
        <div class="row ">
          <div class="col-md-3 pt-sm-1  pl-1">
            <h6 class="text-left"><span class="text-capitalize">logged</span> in as:</h6>
          </div>
          <div class="col-md-7 pt-sm-1 ">
            <form class="form" action="#" id="f1" name="f1" method="post" enctype="multipart/form-data">
                <div class="form-row">
                     <div class="col-md-4  text-sm-left text-md-right align text-capitalize font-italic">
                       <label for="patient education">patient education</label>
                     </div>
                     <div class="col-md-4 ">
                      <input type="search" class="form-control input-sm mb-sm-3 mb-md-0 down height1" id="search">
                     </div>
                     <div class="col-md-4 text-left ">
                        <input type="submit" name="search" class="btn btn-primary down btn-sm" value="search">
                     </div>
                </div>
            </form>
          </div>
          <div class="col-md-2 pt-sm-1 text-md-right text-sm-left text-capitalize align">
            <a href="#" class="text-decoration-none font-weight-bold">log out</a>
          </div>
        </div>
      </div>
      <!-- header row 3 -->
      <nav class="navbar navbar-expand-lg  navbar-light  border-top border-bottom pt-sm-0 pb-sm-0 font2  mt-sm-1" id="nav2">
          <span class="navbar-text text-capitalize font-weight-bold " style="color:  #335c7d;">
            (clinic history as of <span class="text-uppercase">4/22/2019,6:51 pm</span> - gurjunt singh's chart carolina asthma and allery center PA)
          </span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">
             <li class="nav-item">
              <a class="nav-link  pt-sm-1 black" href="#">choose a patient</a>
            </li>
             <li class="nav-item dropdown">
              <button class="dropdown-toggle black" data-toggle="dropdown" >carolina asthma and allery center PA</button>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link pt-sm-1 black" href="#">choose a patient</a>
            </li>
             <li class="nav-item dropdown">
             <button class="dropdown-toggle black" data-toggle="dropdown" >self</button>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
         
        </div>
      </nav>
      <!-- header row 4 -->
      <div class="container-fluid border1 " id="div2" >
        <div class="row " >
          
          <div class="col-md-7 ">
            
           <div class="row ">
             <h6 class="text-capitalize pl-sm-2">gurjant singh</h6>
            <p class="pl-sm-2 "><i class="fas fa-circle font3"></i> address:3008 stargazer lane, fort mill,sc 29715</p>
            <p class="pl-sm-2 "><i class="fas fa-circle font3"></i> phone(980) 318-7435</p>
           </div>   
        
          </div>
          
          <div class="col-md-5   text-lg-right text-sm-left  pt-sm-1" >
            
            <a href="#" class="border-right pr-sm-2 ">Download and send my charts</a>
          
            <a href="#" class="pl-sm-2 "> who has viewed my charts?</a>
          </div>
      
        </div>
      </div>
      <!-- header end -->
      <!-- container start -->
    