<h4><i class='fas fa-capsules'></i> Medication</h4>

<form (ngSubmit)="onSubmit()">

    <div class="col-md-6">
        <input type="hidden" name="id " class="form-control " [(ngModel)]="medication.id " required>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class=" form group ">
                <label for="date">
                    Medications:</label>
                <input name="date " class="form-control " [(ngModel)]="medication.medications " required/>

            </div>
        </div>
        <div class="col-md-6">
            <div class=" form group ">
                <label for="date">Instructions:</label>
                <input name="type " class="form-control " [(ngModel)]="medication.instruction " required>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class=" form group ">
                <label for="date">Dosage:</label>
                <input name="action " class="form-control " [(ngModel)]="medication.dosage " required>
            </div>
        </div>
        <div class="col-md-6">
            <div class=" form group ">
                <label for="date">Effective Dates:</label>
                <input name="status " class="form-control " [(ngModel)]="medication.effectiveDates" required>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class=" form group ">
                <label for="date">Status:</label>
                <input name="action " class="form-control " [(ngModel)]="medication.status " required>
            </div>
        </div>
        <div class="col-md-6">
            <div class=" form group ">
                <label for="date">Comments:</label>
                <input name="status " class="form-control " [(ngModel)]="medication.comments" required>
            </div>
        </div>
    </div>
    <br>
    <div class=" form group ">
        <div class="row">
            <div class="col-md-6">
                <input type="submit" value="Update" class="btn btn-primary btn-block">
            </div>

        </div>
    </div>
</form>
<br>
<div class="row">
    <div class="col-md-6 btnback">
        <button (click)="backclicked()" class="btn btn-primary btn-block "> Back</button>
    </div>
</div>