<br><br> <h4><i class='far fa-file-alt'></i>Condition</h4>
 
 <form (ngSubmit)="onSubmit()">
       
        <div class="col-md-6">
            <input type="hidden" name="id " class="form-control " [(ngModel)]="familyHistory.familyHistoryId " required >
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class=" form group ">
                        <label for="name">Family Member:</label>
                    <input name="date "  class="form-control " [(ngModel)]="familyHistory.familyMember " required/>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class=" form group ">
                        <label for="effective_dates">Diagnosis:</label>
                    <input name="type " class="form-control " [(ngModel)]="familyHistory.diagnosis " required>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class=" form group ">
                        <label for="last_related_visit">Age At Onset:</label>
                    <input name="action " class="form-control " [(ngModel)]="familyHistory.ageAtOnset " required>
                </div>
            </div>
            <div class="col-md-6">
                <div class=" form group ">
                        <label for="date">Status:</label>
                    <input name="status " class="form-control " [(ngModel)]="familyHistory.status" required>
                </div>
            </div>
        </div>
        <br>
        <div class=" form group ">
            <div class="row">
                <div class="col-md-6">
                    <input type="submit" value="Update" class="btn btn-primary btn-block">         
                </div>
                
            </div>
        </div>
    </form>
    <br>
    <div class="row">
            <div class="col-md-6 btnback">
                    <button (click)="backclicked()"class="btn btn-primary btn-block "> Back</button>        
                </div>
    </div>