<h4><i class='fas fa-syringe'></i> Immunization</h4>

 
 <form (ngSubmit)="onSubmit()">
       
        <div class="col-md-6">
            <input type="hidden" name="id " class="form-control " [(ngModel)]="immunization.id " required >
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class=" form group ">
                        <label for="name">Name:</label>
                    <input name="date "  class="form-control " [(ngModel)]="immunization.name " required/>
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class=" form group ">
                        <label for="effective_dates">Dates:</label>
                    <input name="type " class="form-control " [(ngModel)]="immunization.date " required>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class=" form group ">
                        <label for="last_related_visit">Comments:</label>
                    <input name="action " class="form-control " [(ngModel)]="immunization.comments " required>
                </div>
            </div>
            <div class="col-md-6">
                <div class=" form group ">
                        <label for="date">Status:</label>
                    <input name="status " class="form-control " [(ngModel)]="immunization.status" required>
                </div>
            </div>
        </div>
        <br>
        <div class=" form group ">
            <div class="row">
                <div class="col-md-6">
                    <input type="submit" value="Update" class="btn btn-primary btn-block">         
                </div>
                
            </div>
        </div>
    </form>
    <div class="row">
            <div class="col-md-6 btnback">
                    <button (click)="backclicked()"class="btn btn-primary btn-block"> Back</button>        
                </div>
    </div>