<div class="col-md-9 pt-sm-5 ">
    <h4><i class="fas fa-briefcase-medical"></i> visits</h4>
    <div class="row">
        <div class=" pt-sm-2 col-md-7 col-11">
            <div class="cardout position-relative"> 
                   
                  <div class="card  font2 outside ">
                     <div class="card-body pl-md-4 pl-2  pb-3 cd text-capitalize">
                       <ul class=" position-absolute pink1 borders font-weight-bold text-uppercase">
                       <li class=" float-left list-unstyled pr-2"> 03/06/2019</li> 
                       <li class="float-left ml-4">office consultation </li>
                       <li class="float-left list-unstyled pl-1"> (established)</li><br> 
                       <li class="float-left ml-3 text-capitalize"> patel roopen </li>
                       </ul>
                       <h6 class="ml-3 card-title pt-5 mt-5 ">medication prescribed:</h6>
                         <!-- <p class="card-text"> -->
                             <ul class=" list-unstyled pl-3">
                             <li *ngIf="medication">xyzal 5 mg tablet</li>
                             <li class="pt-3" >take 1 tablet by oral route every day in the evening</li>
                             </ul>
                            <!-- </p> -->
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>